
<footer th:fragment="footer">
    <div class="footer_container">

        <div class="footer_links">

            <div class="footer_link-wrapper">

                <div class="footer_link-items">
                    <h2>About</h2>
                    <a href="/" >Who are we?</a>
                    <a href="/" >Catalog</a>
                    <a href="/" >Shop</a>

                    <a href="/" >How it works</a>

                </div>
                <div class="footer_link-items">
                    <h2>Contacts</h2>
                    <a href="/">Mcqueen 12 Str.</a>
                    <a href="/">drivetime@car.com</a>
                    <a href="/">555-555-555</a>


                </div>
            </div>

            <div class="footer_link-wrapper">
                <div class="footer_link-items">
                    <h2>Brands</h2>
                    <a href="">Mercedes</a>
                    <a href="">Bmw</a>
                    <a href="">Audi</a>
                    <a href="">Ferrari</a>

                    <a href=""></a>
                </div>

            </div>
        </div>
        <div class="social_media">
            <div class="social_media-wrap">
                <div class="footer_logo">
                    <a href="" id="footer_logo">
                        <i class="fas
                fa-gem"></i>DriveTime</a>
                </div>
                <p class="website-rights">&copy DriveTime 2020.All rights reserved</p>
                <div class="social_icons">
                    <a href="" class="social_icon-link"
                       target="_blank">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                    <a href="" class="social_icon-link"
                       target="_blank">
                        <i class="fa fa-facebook" ></i>
                    </a>
                    <a href="" class="social_icon-link">
                        <i class="fa fa-twitter" ></i>
                    </a>
                    <a href="" class="social_icon-link "
                       target="_blank">
                        <i class="fa fa-youtube" ></i>
                    </a>

                </div>
            </div>
        </div>


    </div>
    <script src="/js/script.js" ></script>
</footer>
</html>