.standard-wrapper{
    width: 960px;
    margin: auto;
    position: relative;
    float: none;
    max-width: 100%;
}

.element1 {
    background-image: linear-gradient(rgba(1, 0, 0, 0.6) 100%, rgba(20, 10, 60, 3.3) 50%), url(/images/about-page-background-image.png);
    background-position: center center;
    text-align: center;
    /* padding: 305px 0 305px 0; */
    color: #ffffff;
    opacity: 90%;
    height: 102vh;
    background-size: cover;
}
.element2 {
    text-align: center;
    /* padding: 105px 0 105px 0; */
    /* background-color: #ebb503; */
    color: #ffffff;
    margin-top: 22%;
    padding-left: 40px;
}

.inner{
    margin:auto;width:69%;
    color: wheat;
}
.inner h2 {
    opacity: 100%;
    color: #e0ad09;
    padding-top: 18px;
    padding-bottom: 30px;
    font-size: 3rem;
}
.inner2{
    margin:auto;width:60%;
    color: wheat;
    padding-bottom: 5%;

}
#about-catalogue-button{
    margin-top: 10px;
}