/* Navbar Base Styles */
.navbar {
    background-color: #525925;
    height: 80px;
    display: flex
;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
    width: 100%;
    border-bottom: 4px solid  #ffc200;
}

/* Navbar Container */
.navbar_container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 50px;
}

/* Brand Logo */
.brand-name-logo{
    margin-top:20px;
}
#navbar_name {
    color: white;
    text-decoration: none;
    font-size: 2.5rem;
    font-weight: bold;
}

/* Navbar Menu */
.navbar_menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

/* Navbar Items */
.navbar_item {
    height: 80px;
}

/* Navbar Links */
.navbar_links{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    border: none;
    outline: none;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}
#dropdown a:hover {
    background: black;
    color: #ffc200;
}
#dropdown {
    border: 2px solid #ffc200;
    background: #b1b1b1;
    color: black;
}
ul li ul {
    visibility: hidden;
    /*opacity: 0;*/
    position: absolute;
    display: none;
    background: #100909;
    margin-left:-0.8%
}
ul li:hover > ul,
ul li ul:hover {
    visibility: visible;
    display: block;
    max-width: 100px;
    margin-top: 100px;
    align-content: center;
    text-align: center;
    /* border-radius: 8px; */
    background-color: rgb(0 0 0 / 34%);
    border: 2px solid #e3640b;
    margin-left: 2px;
    margin-top: -47px;
    padding-top: 50px;
}

 .navbar_btn .button:hover, .logout_btn:hover, .logout_btn:hover {
    background: #ffc200;
    color: black;
}
.navbar_links:hover {
    color: #ffc200;
    font-size: 1.5rem;
    transition: all 0.3s ease-in-out;

}
.navbar_btn .button {
    color: #ffc200;
    background: #525925;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 10px 15px;
    margin: 20px;
    height: 100%;
    outline: none;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    font-weight: 500;
    border: 2px solid #ffc200;
}
/* Logout Button */
.logout_btn{
    color: black;
    font-size: 1.2rem;
    background: red;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-weight: 500;
}

/* Responsive Design */
@media screen and (max-width: 968px) {
    .navbar_menu {
        display: block;
        width: 100%;
        position: absolute;
        top: -1000px;
        left: 0;
        background: black;
        transition: all 0.5s ease-in-out;
    }

    .navbar_menu.active {
        top: 100%;
        opacity: 1;
    }

    .navbar_links {
        width: 100%;
        display: block;
        text-align: center;
    }

    .navbar_btn {
        width: 100%;
        text-align: center;
    }
}
