* {

    box-sizing : border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans',sans-serif;


}
/*-----------------NAVBAR----------------------------------*/

/*------------------MAIN---------------------*/

.main{
    background:linear-gradient(to bottom, #525925 0%, #141414 97%)
}


.main_container{
    background-color:#000000;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self:center;
    margin: 0 auto;

    height: 80vh;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
    background-image: url('../images/try5-update.png')

}

.main_content h1 {
    font-size: 3rem;
    background-image: linear-gradient(to top, #ffc200 0%, #525925 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    /* color: #917211; */
}

.main_content h2 {
    font-size: 1.5rem;
    /* color: aqua; */
    background-color: #ff8177;
    background-image: linear-gradient(to top, #ffc200 100%, #ffc200 0%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.main_content p{
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
}

.main_btn {
    font-size: 1rem;
    background-image: linear-gradient(to top, #525925 0%, #000000 100%);
    padding: 14px 30px;
    border: none;
    /* border-bottom-right-radius: 30px; */
    /* border-top-left-radius: 30px; */
    border-radius: 10px;
    border: 2px solid #e3f20c;
    cursor: pointer;
    position: relative;
    transition: all 0.4s;
    outline: none;
    font-weight: 500;
    font-size: 1.2rem;
    margin-top: 10px;
}

.main_btn a {
    position: relative;
    z-index: 2;
    color: rgb(255, 255, 0);
    text-decoration: none;
}
.main_btn:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #6d7828;
    transition: all 0.4s;
    border-radius: 10px;
    /* color: black; */
}

.main_btn:hover{
    color:black;
}

.main_btn:hover:after{
    width: 100%;
}

.main_img-container{
    text-align: center;
}

#main_img{
    height: 90%;
    width: 80%;
}


/* MOBLIE RESPONSIVENESS*/
@media screen and (max-width: 768px){

    .nav_img{
        filter:brightness(100%);
        margin-left: 13%;
    }

    .main_container{
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-self: center;
        width: 100%;
        margin: 0 auto;
        height: 90vh;
    }
    .main_content{
        text-align: center;
        margin-bottom: 4rem;
    }

    .main_content h1{
        font-size: 2.5rem;
        margin-top: 2rem;
    }

    .main_content h2{
        font-size: 3rem;

    }

    .main_content p{
        margin-top: 1rem;
        font-size: 1.5rem;
    }

    #main_img{
        height: 90%;
        width: 80%;
    }

}
@media screen and ( max-width: 480px){
    .main_content h1{
        font-size: 2rem;
        margin-top: 3rem;
    }

    .main_conent h2{
        font-size:2rem;

    }

    .main_content p{
        margin-top: 3rem;
        font-size: 1.5rem;
    }
    .main_btn{
        padding: 12px 36px;
        margin:2.5rem 0;
    }
}

/*--------------------SERVICES-----------------*/

.services{
    background: #141414;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.service-header{
    padding-top:1.5em;
}
.services h1 {
    /* background-color: #49ba14; */
    background-image: linear-gradient(to right, #ff8900 0%, #e9e91b 50%, #ff8100 21%, #f3c845f2 52%, #e9e91b 78%, #fe7f00 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.services_container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 1%;

}

.services_card{
    margin: 1rem;
    height: 524px;
    width: 427px;
    border-radius: 4px;
    background-size: cover;
    background-position-x: -259px;
    position: relative;
    color: white;

}
.services_card:nth-child(2){
    background-position-x: -280px ;
}

.services h2{

    top: 11%;
    position: absolute;
    margin-left: 5%;
}

.services_card p{
    position: absolute;
    top: 20%;
    padding-left: 4%;
}
.services_card button a{
    position:relative;
    z-index: 2;
    color:white;
    text-decoration: none;
}
.services_card button {
    position: absolute;
    color: white;
    padding: 10px 10px;
    outline: none;
    border-radius: 10px;
    background-color: #525925;
    top: 87%;
    left: 35%;
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none;
    border: 2px solid yellow;
}

.services_card button:hover {
    background-color: #141414;
    transition: all 0.4s;
}
.services_card:hover{
    transform: scale(1.045);
    transition: 0.2s ease-in;
    cursor: pointer;
}

@media screen and (max-width: 960px){
    .nav_img{
        filter:brightness(100%);
        margin-left: 10%;
    }

    .services{
        height:1600px;
    }
    .services h1{
        font-size: 2rem;
        margin-top:1rem;
    }
}

@media screen and (max-width: 480px){
    .services{
        height: 1400px;
    }
    .services h1 {
        font-size: 1.2rem;
    }
    .services_card{
        width:300px;

    }
}

/*--------------------SERVICES---------END-----------------*/

/*------------------FOOTER---------------------------------*/

/*------------------LOGIN PAGE------------------------------*/
#login-container a {
    text-decoration: none;
}

#login-container{
    max-width: 400px;
    /* margin: 30px auto; */
    padding: 20px;
    margin: auto;
    text-align: center;
    padding-bottom: 15%;
    opacity: 90%;
}


.form-wrap{
    background: #06060585;
    padding: 24px 25px;
    color:#fff;
    border: 4px solid greenyellow;
    margin-top: 120px;
}

#signUP{
    background: #06060585;
    padding: 24px 25px;
    color:#fff;
    border: 4px solid greenyellow;
    margin-top: 40px;
}

.form-wrap .form-group{
    margin-top: 15px;

}

.form-wrap .form-group label{
    display: block;
    color: #fff;
}

.form-wrap .form-group input{
    width: 100%;
    padding:10px;
    border: #ddd 1px solid;
    border-radius: 5px;
}


.form-wrap button{
    display: block;
    width:100%;
    padding:10px;
    margin-top: 20px;
    background-color: greenyellow;
    cursor: pointer;
    border: 1px solid turquoise;
    font-size:15px;
    transition: 0.5s;
}

.form-wrap button:hover{
    color:#fff;
    background-color:green;
    transition: 0.5s;
}

.form-wrap .bottom-text{
    font-size: 13px;
    margin-top:20px;

}
.form-wrap .bottom-text a{
    color:greenyellow;
}
.form-wrap .bottom-text a:hover{
    color:red;
}
/*------------------LOGIN PAGE END------------------------------*/

.mainsss{
    background-image: url('../images/road.jpg');
    margin:-25px;
    background-size: cover;
;
}
.description-info{
    background-color: black;
    display: block;
    height: 90vh;
    background-size:cover;
    background-position-y: -100px;
}
.main-info p{
    color:white;

}
.description-info h1{
    font-size: 2rem;
    color: #fff;
    padding-bottom: 25px;

}
.description-info h2{
    font-size: 1rem;
    color: #fff;
    padding-bottom: 25px;
}
.description-info li{
    position: relative;
    width: 20vh;
    margin-top: 1%;
    margin-left: 11.5%;
}

.merch_card{
    margin: 1rem;
    height: 525px;
    width: 400px;
    border-radius: 4px;
    background-image: linear-gradient(to top,
    rgba(0,0,0,0) 2%,
    rgba(17,10,60,0.9) 100%),
    url('static/images/huracan.jpg');
    background-size: cover;
    background-position-x: -170px ;
    position: relative;
    color:white;
}

.merch_card p{
    position: absolute;
    top: 20%;
    padding-left: 4%;
}
.merch_card button a{
    position:relative;
    z-index: 2;
    color:white;
    text-decoration: none;
}
.merch_card button{
    position: absolute;
    color: white;
    padding: 10px 10px;
    outline: none;
    border-radius:10px ;
    background-color:#f051f0;
    top: 87%;
    left: 35%;
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none;
}


.merch_card button:hover{

    background-color: rgb(196, 255, 47);
    transition: all 0.7s;

    text-decoration: none;
}
.merch_card:hover{
    transform: scale(1.075);
    transition: 0.2s ease-in;
    cursor: pointer;
}


/*--------------CAR_INFO-------------------------------*/
.car-info-name{
    position: relative;
    background: chartreuse;
    text-align: center;
}

.description-info{
    padding-top: 10%;
    position: relative;


}

#myBtn{
    border-radius: 40px;
    position: sticky;
    background-color: rgb(29, 117, 200);
    color: #fff;
    height: 40px;
    width: 100px;
    top: 10%;
    cursor: pointer;
    margin-left: 50%;
}


#myBtn:hover{
    color: #000;
    background-color: gold;
}

.description-info h1{
    position: relative;
    padding-left :10%;
}
.description-info h2{
    position: relative;
    padding-left :11%;
    margin-top: -20px
}
.description-info p{
    color: wheat;
}
#price{
    margin-left :1.6%;
    margin-bottom: 1%;
    color: goldenrod;
}
.stats{


    margin-left: 3%;
}
.stats2{

    margin-top:1%;
    margin-left: 1.5%;
}
.stats p{
    padding-left: 11.8%;
    margin-top:-2%;
}
.stats2 p{
    padding-left: 12.5%;
    margin-top:-2%;
}
.rent-button a{
    position: relative;
    justify-content: center;
}
.car-int-ul{
    display: flex;
    list-style: none;
    text-align: center;
    justify-content:center;
    flex-wrap: wrap;
}
.car-int-ul2{
    display: flex;
    list-style: none;
    text-align: center;
    justify-content:center;
    flex-wrap: wrap;
}
.mynii{

    margin-left: 5%;
}


.myInfo{
    background-color:#222;
    padding-top: 1%;

}
.myInfo p{
    color: wheat;
    margin:1% 5% 2% 5%;
}
.car-int-ul li{
    padding-left: 1%;
}
.car-int-ul h1{
    color:wheat
}

.text-danger{color:#dc3545!important}a.text-danger:focus,a.text-danger:hover{color:#bd2130!important}
/*----------------------------------ABOUT_PAGE----------*/
.standard-wrapper{
    width: 960px;
    margin: auto;
    position: relative;
    float: none;
    max-width: 100%;
}

.element1{
    background-image:linear-gradient(
     rgba(1,0,0,0.6) 100%,rgba(20,10,60,3.3) 50%)
    ,url(https://www.instantluxuryrentals.com/wp-content/uploads/2019/08/lamborghini-urus-motion.jpg);
    background-position: center center;
    text-align:center;
    padding:305px 0 305px 0;
    color:#ffffff;
    opacity: 90%;
}
.element2{
    text-align:center;padding:105px 0 105px 0;background-color:#ebb503;color:#ffffff;
}
.overlay_background{
    background:#0d0d0d;background:rgb(13,13,13,0.7);background:rgba(13,13,13,0.7);
}
.inner{
    margin:auto;width:60%;
    color: wheat;
}
.inner h2{
    opacity: 100%;
    color: red;
}
.inner2{
    margin:auto;width:60%;
    color: wheat;
    padding-bottom: 5%;

}

ul li ul {
    visibility: hidden;
    /*opacity: 0;*/
    position: absolute;
    display: none;
    background: #100909;
    margin-left:-0.8%
}
ul li:hover > ul,
ul li ul:hover {
    visibility: visible;
    display: block;
    max-width: 100px;
    /*margin-top: 100px;*/
   align-content: center;
    text-align: center;
   border-radius: 8px;
    background-color: rgb(0 0 0 / 87%);
    border:2px solid #e3640b;
}


.alert-danger {
    color: #ffffff;
    background-color: #b82330;
    border-color: #f5c6cb;
    padding: .75rem 1.25rem;
    margin-bottom: 2%;
    border-radius: 5px;
}

/* CAR ADD FORM*/
#carAdd-container {
    max-width: 600px;
    /* margin: 30px auto; */
    padding: 20px;
    margin: auto;
    text-align: center;
    padding-bottom: 15%;
    opacity: 90%;
}
.part1,
.group-part2{
    display: flex;
}
.part1 .form-group,
.group-part2 .form-group{
     margin-left: 1em;
 }
select#powerTrain {
    border-radius: 6px;
    padding: 0.7em;
}