<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/head}">

</head>

<nav th:replace="~{fragments/navbar}">

</nav>
<body>
<div >
    <div class="element1">
        <div class="overlay_background">
    </div>
        <div class="standard_wrapper">
        <div >
            <div>
                <div class="inner" >
                    <h2 >Discover the ultimate driving experience with DRIVE TIME RENTALS</h2>
                    <h3 style="opacity: 100%" >Are you ready to elevate your driving experience to new heights? Look no further than Instant Luxury Rentals, where we offer an extraordinary selection of exotic and premium luxury vehicles from renowned manufacturers worldwide.</h3></div></div></div></div></div>
    <div class="element2">
        <div >
            <div>
            <div class="inner2">
                <h2>Whether you have a special occasion on the horizon or simply desire an unforgettable driving experience, Instant Luxury Rentals is here to make your dreams a reality.</h2>

            </div><div style="padding-bottom: 1%;"class="inner2">
                <h2>Jump to our catalogue</h2>

            </div>
            <button class="main_btn">
                <a th:href="@{/catalogue}">To our catalogue</a>
            </button>

    </div>
    </div>
    </div>

</div>
</body>
<!--Footer-->
<footer th:replace="~{fragments/footer}"></footer>

</html>