<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/head}">
</head>
<body>
<nav th:replace="~{fragments/navbar}">
</nav>



<!-- SERVICE SECTION-->

<div class="services">
    <h1>Items for sale</h1>
    <div class="services_container">
        <div class="services_card" >

            <h1>T-Shirts</h1>
            <h2>V10 is all you need</h2>
            <p>Name inspired by a Spanish fighting bull .The italian automaker seems not only to have made the car look like one but with its 600hp sure it feels like you are in a rodeo.</p>
            <button> <a href="/">See more</a></button>
        </div>
        <div class="merch_card">
            <h1>Hats</h1>
                <h2>Maranello's glorious V12 </h2>
                <p>Everyone thinks red cars are fast.This brand is the reason why.Feel the prancing horse beneath your seat.Try the oustanding Ferrari 488 Pista.</p>
                <button id="tryout"> <a href="/car-info.html">See more</a></button>
        </div>
        <div class="merch_card">
            <h1>Hoodies</h1>
                <h2>Maranello's glorious V12 </h2>
                <p>Everyone thinks red cars are fast.This brand is the reason why.Feel the prancing horse beneath your seat.Try the oustanding Ferrari 488 Pista.</p>
                <button id="tryout"> <a href="/car-info.html">See more</a></button>
        </div>


    </div>
</div>
</body>
<!--Footer-->
<footer th:replace="~{fragments/footer}"></footer>
</html>