<!DOCTYPE html>
<html lang="en">
<head th:replace="~{/fragments/head}">
</head>

<nav th:replace="~{/fragments/navbar}"></nav>
<body>
<div th:object="${userDetails}" class="page-content page-container" id="page-content">
    <div class="padding">
        <div class="row container d-flex justify-content-center">
            <div class="col-xl-6 col-md-12">
                <div class="card ">
                    <div class="row m-l-0 m-r-0">
                        <div class="col-sm-4 bg-c-lite-green user-profile">
                            <div class="card-block text-center text-white">
                                <div class="m-b-25">
                                    <img src="https://img.icons8.com/bubbles/100/000000/user.png" class="img-radius" alt="User-Profile-Image">
                                </div>
                                <h5 th:text="*{firstName} +' '+ *{lastName}" class="default">Hembo Tingor</h5>
<!--                               <button class="user-edit-button">Edit</button>-->
                                <a th:href="@{/user/{userId}/edit(userId=${userDetails.id})}" class="button">User Changes</a>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="card-block">
                                <h6 class="m-b-20 p-b-5 b-b-default f-w-600">Information</h6>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-600">Email</p>
                                        <h6 th:text="*{email}"class="text-muted f-w-400">rntng@gmail.com</h6>
                                    </div>
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-600">Phone</p>
                                        <h6 class="text-muted f-w-400">98979989898</h6>
                                    </div>
                                </div>
                                <h6 class="m-b-20 m-t-40 p-b-5 b-b-default f-w-600">Orders</h6>
                                <div th:each="list : ${userDetails.getSummaryCarRent()}"class="row">
                                    <div class="col-sm-6">
                                        <h6 th:text="${list.getCarMaker()}"class="text-muted f-w-400">Dinoter husainm</h6>
                                        <h6 th:text="${list.getCarMaker()}"class="text-muted f-w-400">Dinoter husainm</h6>
                                        <h6 th:text="${list.getStartDate()}"class="text-muted f-w-400">Dinoter husainm</h6>
                                        <h6 th:text="${list.getEndDate()}"class="text-muted f-w-400">Dinoter husainm</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</body>
<footer th:replace="~{/fragments/footer}"></footer>
</html>